*{
    margin: 0;
    padding: 0;
}

body{
    background: #c2c2c2;
    font-family: 'Varta', sans-serif;
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

/* Menu normal 834px o más*/
.flex{
    display: flex;
}

.checkboxcito{
    display: none;
}

.logo{
    width: 39%;
    padding: 4px;
    border: 0px solid red;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.cont-header{
    justify-content: space-between;
    width: 100%;
}

.nav{
    width: 60%;
    border: 0px solid green;
    justify-content: center;
    align-items: center;
}

.a-nav{
    text-decoration: none;
    color: #fff;
    background: #363636;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    height: 45px;
    line-height: 45px;
    transition: 0.3s linear;
}

.a-nav:hover{
    color: #363636;
    background: #ffa51e;
}

header{
    position: fixed;
    z-index: 20;
    height: 55px;
    background: #363636;
    box-shadow: 0px 0px 30px #A4A4A4;
    border-bottom-style: solid;
    border-bottom-color: #222222;
    border-bottom-width: 1px;
}

/* Menu hamburguesa p/ < 834px */

@media only screen and (max-width: 850px){
    .logo{
        width: 100%;
        justify-content: flex-start;
    }

    .ul-nav{
        display: table;
        width: 28%;
        /*margin-right: 0px;
        padding-right: 0px;*/
    }

    .a-nav{
        list-style-type: none;
        display: block;
        margin: 0;
		padding: .1em 2em;
		background: #363636;
		color: #fff;
        text-decoration: none;
        width: 22vw;
    }

    .a-nav:hover{
		background: #ffa51e;
		color: #363636;
    }

    .nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 3em;
        height: 55px;
        color: #363636;
        overflow: hidden;
        cursor: pointer;
    }

    .nav:after {
        content: "☰";
        color: #fff;
        font-size: 2em;
        width: 1em;
        line-height: 1;
        text-align: center;
        position: absolute;
        top: 25%;
        right: 25%;
    }

    .ul-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 3em;
        position: absolute;
        top: 0;
        right: 0;
        background: #363636;
        /*z-index: -1;*/
    }

    .checkboxcito {
        display: none;
    }

    .checkboxcito:checked ~ .nav{
        overflow: visible;
    }

    .checkboxcito:checked ~ .nav::after {
        content: "x";
        color: #fff;
    }

    .checkbox-label {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        width: 50px;
        height: 50px;
        color: #fff;
        overflow: visible;
        cursor: pointer;
        margin: 0;
    }
}

.container1{
    display: block;
    background: #bbb;
    height:100vh;
    width: 100vw;
    padding-top: 8.8vh;
    box-sizing: border-box;
    border-bottom: 1px solid #363636;
}

.container2{
    display: block;
    background: #e28800;
    height:100vh;
    width: 100vw;
    padding-top: 8.8vh;
    box-sizing: border-box;
    border-bottom: 1px solid #363636;
}

.text-h1{
    font-size: 60px;
    padding-top: 5vw;
}

.text-h2{
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 10vw;
}

.inicio-div .text-h1, .inicio-div .text-h2{
    margin: 0;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
    font-family: 'Calibri';
}

.inicio-div{
    color: white;
    background: url('/img/inicio.jpg') top left/cover no-repeat;
    opacity: 90%;
    height: 91vh;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}


