*{
    margin: 0;
    padding: 0;
}

body{
    background: #c2c2c2;
    font-family: 'Varta', sans-serif;
}

header{
    background: #363636;
    width: 100%;
    height: 55px;
    box-shadow: 0px 0px 30px #A4A4A4;
    border-bottom-style: solid;
    border-bottom-color: #222222;
    border-bottom-width: 1px;
    position: fixed;
    z-index: 1;
}

.logo{
    width: 30%;
    height: 55px;
    float: left;
    border: 0px solid red;
    margin-top: 0px;
}

.logo a{
    color: #fff;
    text-decoration: none;
    padding: 18px;
    display: inline-block;
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.menu{
    width: 45%;
    height: 55px;
    float: right;
    border: 0px solid red;
    margin-top: 0px;
}

.menu ul{
    float: left;
}

.menu ul a{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 18px;
    background: #363636;
}

.menu ul a:hover{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 18px;
    background: #ffa51e;
}

.menu ul a li{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}