/*---------------- General ----------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    list-style-type: none;
    --color-base: #C4C4C4;
    --color-black: #3A3A3A;
    --color-orange: #F17A25;
    --color-white: #FFFFFF;
    color: var(--color-white)
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-base);
    height: 100%;
}

.flex {
    display: flex;
}

.section-black {
    background-color: var(--color-black)
}

.section-orange {
    background-color: var(--color-orange)
}

.title-section {
    justify-content: center;
    width: 100%;
}


/*---------------- Header ----------------*/

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 55px;
    background-color: var(--color-black);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.navbar {
    justify-content: center;
    align-items: center;
    height: 55px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    font-size: 18px;
    margin: 0 5px;
    padding: 15px 20px;
    height: 55px;
    line-height: 55px;
    font-family: 'Oswald', sans-serif;
}

.navbar ul li a:hover {
    color: var(--color-black);
    background-color: var(--color-orange);
    transition: 0.3s linear;
}


/*---------------- Inicio ----------------*/

.container-inicio {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    height: 100vh;
    padding-left: 5vw;
    background: url('/img/logos/inicio-imgcut.jpg') center center/cover no-repeat;
}

.container-inicio .title h1 {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
}

.container-inicio .subtitle {
    flex-direction: column;
    padding-top: 40px;
}

.container-inicio .subtitle h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}


/*---------------- Sobre mi ----------------*/

.container-sobre {
    padding: 60px 20px;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container-sobre .foto img {
    width: 344.5px;
    height: 344.5px;
    border-radius: 50%;
}

.container-sobre .text-wrapper {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%;
}

.container-sobre .title-section h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--color-white);
}

.container-sobre .text-wrapper p {
    font-size: 22px;
}


/*---------------- Skills ----------------*/

.container-skills {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.container-skills .title-section h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--color-white);
}

.wrapper-skill {
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    transition: transform .5s;
}

.wrapper-skill:hover {
    transform: scale(1.2)
}

.wrapper-skill img {
    width: 80px;
    height: 80px;
}

.wrapper-skill h3 {
    color: var(--color-white);
}


/*---------------- Proyectos ----------------*/

.container-proyectos {
    padding: 60px 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.container-proyectos .title-section h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--color-white);
}

.container-proyectos .proyecto {
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    height: 200px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s linear;
}

.container-proyectos .proyecto:hover {
    background-color: var(--color-orange);
    -webkit-box-shadow: 7px 13px 20px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 13px 20px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 13px 20px 3px rgba(0, 0, 0, 0.75);
    transform: scale(1.1)
}

.container-proyectos .proyecto img {
    width: 280px;
}

.container-proyectos .proyecto h3 {
    text-align: center;
    color: var(--color-white);
    font-size: 25px;
    transition: 0.3s linear;
}

.container-proyectos .proyecto:hover h3 {
    color: var(--color-black);
}


/*---------------- Contacto ----------------*/

.container-contacto {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 20px;
}

.container-contacto .title-section h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--color-white);
}

.container-contacto .contact-logo {
    padding: 20px;
    transition: transform .5s;
}

.container-contacto .contact-logo:hover {
    transform: scale(1.2)
}

.container-contacto img {
    width: 80px;
    height: 80px;
}

.container-contacto .contact-cv {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.container-contacto .contact-cv a {
    padding: 20px 120px;
    border-radius: 5px;
    border: 1px solid rgba(221, 221, 221, 0.3);
    background-color: var(--color-black);
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s linear;
}

.container-contacto .contact-cv a:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 7px 13px 20px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 13px 20px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 13px 20px 3px rgba(0, 0, 0, 0.75);
}


/*---------------- Pie ----------------*/

.footer {
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw 0 2vw;
    height: 50px;
    background-color: var(--color-black);
}

.footer small,
.footer small a {
    color: var(--color-white);
    font-size: 13px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.footer .credits img {
    width: 15px;
}

.footer .tecno img {
    width: 25px;
    margin: 3px;
}


/*---------------- Medias ----------------*/

@media (max-width: 768px) {
    .navbar ul li a {
        font-size: 16px;
        padding: 15px 5px;
    }
    .container-sobre .text-wrapper {
        width: 90%;
    }
    .container-inicio .title h1 {
        font-size: 35px;
    }
    .container-inicio .subtitle h2 {
        font-size: 15px;
    }
    .title-section h2 {
        font-size: 40px;
    }
    .container-proyectos .title-section h2 {
        font-size: 40px;
    }
    .container-sobre .title-section h2 {
        font-size: 40px;
    }
    .container-skills .title-section h2 {
        font-size: 40px;
    }
    .container-contacto .title-section h2 {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .navbar ul li a {
        font-size: 16px;
        padding: 15px 5px;
    }
    .container-inicio .title h1 {
        font-size: 30px;
    }
    .container-inicio .subtitle h2 {
        font-size: 18px;
    }
    .container-sobre .foto img {
        width: 280px;
        height: 280px;
    }
    .container-sobre .text-wrapper {
        width: 90%;
    }
    .container-sobre .text-wrapper h3 {
        font-size: 30px;
    }
    .container-sobre .text-wrapper p {
        font-size: 15px;
    }
    .container-proyectos .title-section h2 {
        font-size: 35px;
    }
    .container-sobre .title-section h2 {
        font-size: 35px;
    }
    .container-skills .title-section h2 {
        font-size: 35px;
    }
    .container-proyectos .title-section h2 {
        font-size: 35px;
    }
    .container-contacto .title-section h2 {
        font-size: 35px;
    }
}