/*---------------- General ----------------*/
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #c2c2c2;
    font-family: 'Varta', sans-serif;
    width: 100%;
    height: 100%;
}

header{
    position: fixed;
    z-index: 10;
    height: 55px;
    background: #363636;
    box-shadow: 0px 0px 30px #A4A4A4;
    border-bottom-style: solid;
    border-bottom-color: #222222;
    border-bottom-width: 1px;
}

.flex{
    display: flex;
}

/*---------------- Menú (834px o más) ----------------*/
.cont-header{
    justify-content: space-between;
    width: 100%;
}

.logo{
    width: 25%;
    padding: 4px;
    border: 0px solid red;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

.checkboxcito{
    display: none;
}

.nav{
    width: 75%;
    border: 0px solid green;
    justify-content: flex-end;
    align-items: center;
}

.nav ul{
    float: right;
}

.nav ul li{
    list-style: none;
    display: inline-block;
}

.nav a{
    text-decoration: none;
    color: #fff;
    background: #363636;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 21px 5px 20px 5px;
    margin: 4px;
    height: 45px;
    line-height: 45px;
    transition: 0.3s linear;
}

.nav a:hover{
    color: #363636;
    background: #ffa51e;
}

/*---------------- Menú (hasta 833px) ----------------*/
@media only screen and (max-width: 800px){
    .logo{
        width: 100%;
        justify-content: flex-start;
        padding-left: 1.9vw;
    }

    .checkboxcito {
        display: none;
    }

    .checkboxcito:checked ~ .nav{
        overflow: visible;
    }

    .checkboxcito:checked ~ .nav::after {
        content: "X";
        color: #fff;
    }

    .checkbox-label {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        width: 50px;
        height: 50px;
        color: #fff;
        overflow: visible;
        cursor: pointer;
        margin: 0;
    }

    .nav{
        position: absolute;
        top: 0;
        right: 0; /* 35px */
        width: 55px;
        height: 55px;
        color: #363636;
        overflow: hidden;
        cursor: pointer;
    }

    .nav:after {
        content: "☰";
        color: #fff;
        font-size: 2em;
        width: 1em;
        line-height: 1;
        text-align: center;
        position: absolute;
        top: 30%;
        right: 30%;
    }

    .nav ul{
        display: table;
        width: 28%;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 3.5em;
        position: absolute;
        top: 0;
        right: 0;
        background: #363636;
    }

    .nav a{
        list-style-type: none;
        display: block;
        margin: 0;
		padding: .1em 1.8em;
		background: #363636;
		color: #fff;
        text-decoration: none;
        width: 18vw;
    }

    .nav a:hover{
		background: #ffa51e;
		color: #363636;
    }
}

/*---------------- Secciones ----------------*/
.container1{
    display: block;
    background: #bbb;
    height:100vh;
    padding-top: 11vh;
    box-sizing: border-box;
    border-bottom: 1px solid #363636;
}

.container2{
    display: block;
    background: #e28800;
    height:100vh;
    padding-top: 11vh;
    box-sizing: border-box;
    border-bottom: 1px solid #363636;
}

/*---------------- Inicio ----------------*/
#inicio{
    padding: 0;
}

.inicio-div{
    color: white;
    background: url('/img/inicio.jpg') top left/cover no-repeat;
    opacity: 90%;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    flex-wrap: wrap;
}

.inicio-div h1, .inicio-div h2{
    margin: 0;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
    font-family: 'Calibri';
}

.inicio-div h1{
    font-size: 80px;
    padding: 10vw;
    padding-top: 10vw;
}

.inicio-div h2{
    font-size: 32px;
    padding: 10vw;
    /* text-transform: uppercase; */
    letter-spacing: 4px;
}

/*---------------- Sobre mi ----------------*/
#sobre-mi h2{
    width: 100%;
    padding-left: 40px;
}

.sobre-mi-div{
    padding: 4vh 2vw 4vh 2vw;
    justify-content: center;
    align-items: center;
}

.sobre-mi-div .foto{
    width: 30%;
    border: 1px solid green;
}

.sobre-mi-div .foto img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #363636;
}

.sobre-mi-div .descripcion{
    width: 70%;
    border: 1px solid green;
}

.sobre-mi-div .descripcion p{
    font-size: 30px;
}

/*---------------- Proyectos ----------------*/
#proyecto h2{
    width: 100%;
    padding-left: 40px;
}

.proyectos{
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.proyecto-div{
    position: relative;
    width: 50%;
    max-width: 350px;
    border: 0px solid #363636;
}

.proyecto-div a{
    text-decoration: none;
}

.proyecto-div a img{
    width: 100%;
    height: auto;
}

.text-block{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/*---------------- Desarrollo ----------------*/
#desarrollo{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#desarrollo h2{
    width: 100%;
    padding-left: 40px;
}

.tecno{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #363636;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #363636;
    background-color: #afafaf;
    width: 100px;
    height: 120px;
    text-align: center;
}

.title-tecno{
    border-bottom: 1px solid #363636;
    padding: 5px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.logo-tecno{
    padding: 5px;
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 560px){
    .title-tecno{
        border-bottom: 1px solid #363636;
        padding: 5px;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        font-size: 11px;
    }
    
    .tecno{
        justify-content: center;
        align-items: center;
        border: 1px solid #363636;
        border-radius: 2px;
        box-shadow: 5px 5px 5px #363636;
        background-color: #afafaf;
        width: 70px;
        height: 90px;
        text-align: center;
    }
    
    .logo-tecno{
        padding: 5px;
        width: 50px;
        height: 50px;
    }
}

/*---------------- Contacto ----------------*/
#contacto h2{
    width: 100%;
    padding-left: 40px;
}

.contact{
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contacto-div {
    margin: 0 auto;
    padding: 1vw;
	box-sizing: border-box;
	width: 80%;
	height: 40%;
	display: block;
}

.span-half {
	max-width: 48%;
	display: block;
}

.puja-left {
	float: left;
}
.puja-right {
	float: right
}

.contacto-form{
	padding: 0;
	margin: 0 auto;
}
.contacto-form label{
	font-size: 1.5em;
}
.contacto-form span{
	width: 100%;
	margin-bottom: 20px;
}
.contacto-form input, .contacto-form textarea, .contacto-form select{
	width: 100%;
	border-color: 1px solid #cacaca;
	padding: 5px;
	outline: none;
}
.contacto-form span, .contacto-form label{
	display: block;
}
.contacto-form textarea{
	margin-top:10px;
	height: 110px;
}

input:focus{
	border:solid 1px #cacaca;

}
textarea:focus{
	border:solid 1px #cacaca;
}

button, input{
	line-height: normal;
}
button, input, select, textarea {
	margin: 0;
	vertical-align: baseline;
}

.submit:hover {
	background-color: green;
}
.button {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	clear: both;

	list-style: none;
	background-color: #6dc066;
	border:none;
	border-radius: 5px;
	color: #fff;
	margin:0 10px 0 0;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	display: block;
	box-sizing: border-box;
	width: 200px;
}

/* .social{
	height: 40%;
} */

.fa {
    padding: 1vw;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #f5008f;
    color: white;
}

.fa-github {
    background: #000;
    color: white;
}

.fa-linkedin {
    background: #416fd3;
    color: white;
}

/*---------------- Pie ----------------*/
footer{
    text-align: center;
    font-weight: bold;
    color: antiquewhite;
    background-color: #1a1a1a;
}